<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socialsphere</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div id="backdrop">
      <%- include('_header') %>
      <main>
        <h1>Connect With Experts</h1>
        <section class="newpost glass">
          <form
            class="new-post"
            action="/create-post"
            method="post"
            enctype="multipart/form-data"
          >
            <textarea name="newpost" id="newpost" rows="4"></textarea>
            <div>
              <label for="postimage">Attach Photo</label>
              <input
                type="file"
                name="postimage"
                id="postimage"
                accept=".jpg,.jpeg,.png"
              />
              <input type="submit" class="btn" value="Create New Post" />
            </div>
          </form>
        </section>

        <!-- posts -->

        <section class="posts glass">
          <%posts.forEach(post=>{%>
          <div class="post" id="post1">
            <div class="post-header">
              <img src="user.jpg" alt="User Avatar" class="user-avatar" />
              <span><%=post.fullName%></span>
            </div>
            <div class="post-content">
              <p><%=post.post%></p>
              <%if(post.imageLink){%>
              <img
                src="/uploads/<%=post.imageLink%>"
                alt=""
                style="width: 100%; height: 240px; object-fit: cover"
              />
              <%}%>
            </div>
            <div class="post-footer">
              <span
                role="button"
                class="toggle-comments"
                onclick="toggleComments('post1')"
                >5 <ion-icon name="chatbox-outline"></ion-icon
              ></span>
              <span class="post-likes"
                >4 <ion-icon name="heart-outline"></ion-icon
              ></span>
              <span class="post-date">15th Nov 23</span>
            </div>
            <div class="comment-section" id="comments-post1">
              <div class="comment">
                <div class="comment-user">
                  <img src="user.jpg" alt="User Avatar" class="user-avatar" />
                  <span>Albert Kipchirchir</span>
                </div>
                <div>Great post!</div>
              </div>
              <div class="comment">
                <div class="comment-user">
                  <img src="user.jpg" alt="User Avatar" class="user-avatar" />
                  <span>Kevin Voke</span>
                </div>
                <div>Thanks! I agree.</div>
              </div>
            </div>
          </div>
          <%})%>
        </section>
      </main>
      <%- include('_footer') %>
    </div>
    <script>
      function toggleComments(postId) {
        const commentsSection = document.getElementById(`comments-${postId}`);
        const toggleCommentsBtn = document.querySelector(
          `#${postId} .toggle-comments`
        );
        const commentsVisible = commentsSection.style.display === "block";

        commentsSection.style.display = commentsVisible ? "none" : "block";
      }
    </script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
